.avatar {
    width:200px;
    height:200px;
    /*margin-left:7%;*/
    /*margin-top:20%;*/
    border:4px solid black;
    border-radius: 50%;
}

.title {
    color: var(--main-text-color);
}

.shrink {
    max-width:43rem;
    margin: auto;
    width: 70%;
}

.textarea{
    font-family: Hack, monospace;
}

pre {
    font-size: 1em;
    color: #6cea56;
}
